node_modules/
.project
unpackage/
.vscode/
.idea
.DS_Store
!packages/uni-app-plus/dist
package-lock.json
/build/
/examples/
/jest.config.js
/types/
/package.json
/dist/
/dist-tag-latest.js
/.eslintignore
/unpublish.js
/README.md
/lib/
/.github/
/.editorconfig
/yarn.lock
/postcss.config.js
/lerna.json
/LICENSE
/check-version.js
/packages/
/许可协议.md
/src/
/tests/
/babel.config.js
